body{
  padding: 0;
  margin: 0;
}

.header{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(165,211,229,1);
}

.header #content{
  float: left;
  padding: 20px;
}

.header #links{
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header button{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  border: none;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font: normal 20px/1 "Audiowide", Helvetica, sans-serif;
  color: rgba(35,12,12,0.89);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(117,175,214,0.89);
}

.header button:hover {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal normal bold 20px/1 "Audiowide", Helvetica, sans-serif;
  background: rgba(117,190,239,0.89);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
}

#inner{
  padding: 20px;
  padding-top: 80px;
  color: rgba(255,255,255,0.89);
  background: -webkit-linear-gradient(-45deg, rgba(56,55,55,1) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(135deg, rgba(56,55,55,1) 0, rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(56,55,55,1) 0, rgba(0,0,0,1) 100%);
}

.footer{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background: rgba(165,211,229,1);
}

.gradient-pattern {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  /*color: rgba(159,204,234,1);*/
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
  background: -moz-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -moz-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -moz-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -moz-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
  background: linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}

.stylish-blue {
  font: normal 14px/1 "Audiowide", Helvetica, sans-serif;
  color: #84b5d6;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
}

.stylish-letterhead {
  font: normal normal bold 100%/1 "Audiowide", Helvetica, sans-serif;
  color: #d0e0ea;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 9px rgba(255,255,86,0.7) , 2px 2px 2px rgba(0,0,0,0.5) ;
}