{% extends 'base.html' %}

{% block header %}
<header>
	<h2>{{ header }}</h2>
</header>
{% endblock %}

{% block content %}
	<p>
		{{ message }}
	</p>
	<p>
		Statistics of <a href="{{db_object.url}}" target="_blank">{{db_object.title}}</a>
	</p>
	<p>
		Database last updated : {{db_object.published}}
	</p>
	<p>
		Number of sites analyzed : {{site_count}}
	</p>
	<p>
		<table>
			<tr><th>Site</th><th>Analysis</th><th>Url</th></tr>
			{% for row in sites %}
				<tr>
					<td>{{row.title}}. {{row.subtitle}}</td>
					<td><a href="/wordpress/stats?url={{row.url}}&level={{row.level}}">Results</a></td>
					<td><a href="{{row.url}}" target="_blank">{{row.url}}</a></td>
				</tr>
			{% endfor %}
		</table>
	</p>
{% endblock %}