<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href= {% static "app_base.css" %}>
		<script type="text/javascript" src="{% static "d3.v3.min.js" %}"></script>
		<script src={% static "d3.layout.js" %}></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link async href="https://fonts.googleapis.com/css?family=Audiowide" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
	{% block staticfiles %}
	{% endblock %}
	<body>
		<div class = "header gradient-pattern stylish-letterhead">
			<div id="content" class="retro">
				{{header}}
			</div>
			<div id = "links">
				<button onclick="location.href='/wordpress'">Home</button>
				<button onclick="window.history.back()">Back</button>
				<button>About</button>
				<button onclick="location.href='http://www.tufts.edu/'">Tufts</button>
			</div>
		</div>

		<div id="inner">
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			<div id="visuals">
				{% block visuals %}
				{% endblock %}
			</div>
		</div>
		
		<div class="footer gradient-pattern stylish-letterhead">
			A Tufts University Academic Technology Fellow Project. Copyleft {{footer}} Dibyendu Das.
		</div>
	</body>
</html>