{% extends 'base.html' %}

{% block header %}
	<table border="0" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-style:hidden;float:right">
		<tbody>
			<tr>
				<td><a href="/wordpress"><h3>Home</h3></a></td>
				<td><h3>{% now 'h:i A' %}</h3></td>
			</tr>
		</tbody>
	</table>
	<h2>{{ header }}</h2>
{% endblock %}

{% block content %}
	<p>
		{{ message }}
	</p>
	<p>
		Statistics of <a href="{{db_object.url}}" target="_blank">{{db_object.title}}</a>
	</p>
	<p>
		Database last updated : {{db_object.published}}
	</p>
	<p>
		Number of sites analyzed : {{site_count}}
	</p>
	<p>
		<table>
			<tr><th>Site</th><th>Analysis</th><th>Url</th></tr>
			{% for row in sites %}
				<tr>
					<td>{{row.title}}. {{row.subtitle}}</td>
					<td><a href="/wordpress/stats?url={{row.url}}&level={{row.level}}">Results</a></td>
					<td><a href="{{row.url}}" target="_blank">{{row.url}}</a></td>
				</tr>
			{% endfor %}
		</table>
	</p>
{% endblock %}

{% block footer %}
	A Tufts AT Fellow Project. Copyleft {% now 'Y' %}. Dibyendu Das.
{% endblock %}

{% block staticfiles %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href= {% static "main.css" %}>
{% endblock %}

